@mixin title(){
  font-size:20px;
  padding: 20px 0;
}
@mixin body(){
  transform: translateY(12px)
}
@mixin main(){
  display:flex;
  justify-content: space-between;
}

.ant-calendar-picker-icon{
  transform: translateY(-12px)
}
.ant-time-picker-icon{
  transform:translateY(-12px)
}
.underline{
  border-bottom:1px solid #C4D0D9;
  display: block;
  margin: 0 -100vw;
  margin-bottom:40px;
}

.AlarmScreen{
  &__header{
    text-align: center;
    height: 50px;
    background-color: #E0E0E0;
    display: block;
    font-size: 20px;
    line-height: 50px;
    &__icon{
      position: absolute;
      left: 5px;
      font-size:25px;
      line-height:50px
    }
  }
  &__main{
    margin: 0 auto;
    margin-top: 30px;
    width:70vw;
    &__switch{
      margin-bottom: 40px;
      @include main();
      &__title{
        @include title()
      }
      &__body{
        @include body();
      }
    }
    &__datepick{
      margin-bottom:40px;
      @include main();
      &__title{
        @include title()
      }
      &__body{
        @include body()
      }
    }
    &__timepick{
      margin-bottom:40px;
      @include main();
      &__title{
        @include title()
      }
      &__body{
        @include body()
      }
    }
  }
}