.ant-menu-inline-collapsed{
  width: 0;
  overflow: hidden;
  height: 100vh;
}
.ant-menu-light{
  height: 100vh;
  z-index:2;
  position: relative;
}
.profileImg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10% auto;
  display: block;
}
.menu-avatar {
  height:250px !important;
  text-align: center;
  padding:0 20px !important;
}
.menu-screen{
  position: absolute;
  width: 256px;
  top: 32px;
  left: 0;
}
