.profilePhoto {
  width: 200px;
  margin: auto;
}
.fileUploadBtn {
  position: relative;
}
.fileUploadBtn > span {
  cursor: pointer;
  color: #fff;
}
.fileUploadBtn > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* .ant-btn,
.fileUploadBtn,
.ant-btn-lg {
  background-color: #3d4144;
  border: 1px solid #0b1229;
} */
