$black: #0b1229;
$white: #fff;
$sliver: #cccccc;
$darkblue: #1e2b55;
$orange: #c96530;
$bright-orange: #e8945f;

.profile {
  text-align: center;
  height: 100vh;
}
.profile__text {
  width: 85vw;
  margin: auto;
  box-shadow: 5px 5px;
}

// 프로필 헤더
.profile__header__wrap {
  width: 100%;
  background-color: $darkblue;
  position: relative;
}
.profile__header__arrow {
  padding: 10px;
  position: absolute;
  font-size: 1.5em;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: $white;
}
.profile__header__title {
  padding: 20px 0;
  color: $white;
}

// 프로필 헤더
.profile__photo__wrap {
  padding: 30px 0;
}
.profile__photo__picture {
}
.profile__photo__picture__wrap {
}
.profile__photo__picture__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
  background-color: $orange;
  border: 0.5px solid $sliver;
}

// 프로필 사진
.profile__photo__upload__button {
  position: relative;
  background-color: #3d4144;
  border: 1px solid $black;
  &:hover {
    background: $bright-orange;
    border: 1px solid $black;
  }
}
.profile__photo__upload__button > span {
  cursor: pointer;
  color: #fff;
}
.profile__photo__upload__button > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

// 프로필 닉네임
.profile__text__nickname__card {
  border-radius: 0 !important;
}
.profile__text__nickname__card__button {
  border: none;
}
.profile__text__nickname__card__button__text {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
}

// 프로필 제공자
.profile__text__provider__card {
  border-radius: 0 !important;
}
