.MainScreen {
  width: 100vw;
  height: 100vh;
  display: blcok;
  position: relative;
  background-color: #EBEAEA;
  overflow: hidden;
}

.MainScreen__circle {
  height: 250vh;
  width: 250vh;
  top: -125%;
  left: -120%;
  position: absolute;
  background-color: violet;
  border-radius: 100%;
}

.MainScreen__showtodo {
  width: 100vw;
  height: calc(100vh - 32px);
  background-color: #EBEAEA;
}

.MainScreen__showtodo__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  margin: 0 auto;
}

.MainScreen__stepContainer {
  display: inline-block;
}

.MainScreen__stepContainer--curstep {
  font-size: 3.5rem;
}

.MainScreen__stepContainer--steps {
  font-size: 1.5rem;
}

.MainScreen__rollback {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.MainScreen__todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainScreen__todo__noData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainScreen__todo__wrapper {
  width: 80vw;
  height: 30vh;
  border: 1px solid #979797;
  background-color: #ffffff;
}

.MainScreen__todo--stamp {
  font-size: 4rem;
  font-weight: bold;
  width: 300px;
  margin: 7vh auto;
  color: red;
  border: 7px solid red;
  padding: 10px 7px;
  border-radius: 5px;
  animation-name: pulse;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.MainScreen__todo__add {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 50px;
}

.MainScreen__todo__check {
  cursor: pointer;
  transform: translateY(-50%);
  border: 1px solid #c9c7c7;
  border-radius: 50%;
  background-color: #D8D8D8;
  padding: 5px;
  display: inline-block;
  font-size: 4rem;
}

.MainScreen__todo__req {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-top: 170px;
  text-align: center;
}

.MainScreen__todo__title {
  position: absolute;
  padding: 3rem 2.5rem;
  display: block;
  text-align: center;
  font-size: 2rem;
}

.MainScreen__camera {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  right: 10px;
  bottom: 10px;
}

.SuccessModal__sns {
  text-align: center;
  font-size: 2rem;
}

.SuccessModal__sns__facebook {
  padding: 2rem;
}

.SuccessModal__sns__twitter {
  padding: 2rem;
}

.SuccessModal__mission {
  font-size: 2rem;
  text-align: center;
}

.SuccessModal__mission__edit {
  padding: 2rem;
}

.screenshot-modal {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: initial;
}

.screenshot-modal-close {
  top: 10%;
  right: 10%;
}

.screenshot-modal-content {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.screenshot-modal-body {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.screenshot-modal-footer {
  display: none;
}

.downloadLink {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  background-color: #9B9B9B;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #9B9B9B;
}

.screenshotCanvas {
  margin-top: 50%;
  margin: 0 auto;
  position: absolute;
  transform: scale(0.8);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: .70;
    transform: rotate(-15deg) scale(1);
  }
}
/*# sourceMappingURL=MainScreen.css.map */