$translateCenter: translate(-50%, -50%);

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $translateCenter;
}
@mixin horizonalCenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin max() {
  height: 100vh;
  width: 100vw;
}

.MainScreen {
  background: #dc7036;
  background: -moz-linear-gradient(
    -45deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  background: -webkit-linear-gradient(
    -45deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  background: linear-gradient(
    135deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#dc7036',
    endColorstr='#c45b2d',
    GradientType=1
  );
  width: 100vw;
  height: 100vh;
  display: blcok;
  position: relative;
  overflow: hidden;
  &__circle {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #1e2b55;
  }
  &__showtodo {
    background: #dc7036;
    background: -moz-linear-gradient(-45deg, #dc7036 50%, #c45b2d 50%);
    background: -webkit-linear-gradient(-45deg, #dc7036 50%, #c45b2d 50%);
    background: linear-gradient(135deg, #dc7036 50%, #c45b2d 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#dc7036",
        endColorstr="#c45b2d",
        GradientType=1
      );
    width: 100vw;
    height: 100vh;
    &__wrapper {
      @include center();
      width: 80vw;
      margin: 0 auto;
    }
  }
  &__stepContainer {
    display: inline-block;
    color: #ffffff;
    &--curstep {
      font-size: 3.5rem;
    }
    &--steps {
      font-size: 1.5rem;
    }
  }
  &__rollback {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  &__todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__memo{
      display: block;
      text-align: right;
      margin: 5px;
      font-size:1.2rem;
    }
    &__noData {
      @include center();
    }
    &__wrapper {
      width: 80vw;
      height: 30vh;
      border: 7px solid#0b1229;
      background-color: #ffffff;
    }
    &--stamp {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      width: 300px;
      margin: 5vh auto;
      color: red;
      border: 7px solid red;
      padding: 10px 5px;
      border-radius: 5px;
      animation-name: pulse;
      animation-duration: 0.5s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
    &__add {
      cursor: pointer;
      font-size: 50px;
      display: block;
      margin-top: 7vh;
    }
    &__check {
      cursor: pointer;
      transform: translateY(-50%);
      border: 7px solid #0b1229;
      border-radius: 50%;
      color: #ffffff;
      background-color: #68a046;
      padding: 5px;
      display: inline-block;
      font-size: 4rem;
      font-weight: bold;
    }
    &__req {
      cursor: pointer;
      display: block;
      text-align: center;
      font-size: 1rem;
      top: 100%;
      margin-top: 5%;
    }
    &__title {
      position: absolute;
      width: inherit;
      padding: 2rem 1rem;
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &__camera {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    font-size: 40px;
    right: 10px;
    bottom: 10px;
  }
  &__screenshot{
    display:none;
    &.active{
      @include max();
      display:block;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index:1;
    }
    &-closeBtn{
      position: absolute;
      left:75%;
      top:15%;
      border:none;
      color:#ffffff;
      font-size:1.5rem;
      z-index:2;
    }
  }
}

.downloadLink {
  @include horizonalCenter();
  top: 75%;
  background-color: #9b9b9b;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #9b9b9b;
}
.screenshotCanvas {
  margin-top: 50%;
  margin: 0 auto;
  transform: scale(0.8);
}

.SNSShareScreen__tomain {
  font-size: 4rem;
  color: #0b1229;
}

.SuccessModal{
  text-align: center;
  &__sns{
    text-align: center;
    font-size: 2rem;
    &__facebook {
      padding: 2rem;
    }
    &__twitter {
      padding: 2rem;
    }
  }
  &__mission {
    font-size: 2rem;
    text-align: center;
    &__edit {
      padding: 2rem;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 0.7;
    transform: rotate(-15deg) scale(1);
  }
}

$blue-dark:#1E384C;
$blue:#2C7FBE;
$blue-light:#32BAFA;
$green:#02C39A;
$stage-bg:$blue-dark;

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: .4s transform ease;
    transform-origin: bottom center;

    @media (min-width: 500px) {
        border-radius: 5px;
    }
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: wave 1s linear infinite;

    &--front {
        color: $blue-light;
        opacity: 0.8;
    }

    &--back {
        color: $blue;
        opacity: 0.8;
        animation-direction: reverse;
    }
}

.water {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: currentColor;

    svg {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 99.9%;
    }
}
.water:first-of-type {
    transform: translate(-100%,0);
}

svg {
    fill: currentColor;
}

@keyframes wave{
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: translate3d(50%,.5em,0);
    }
    100% {
        transform: translate3d(100%,0,0);
    }
}



