$dark-gray: rgb(117, 117, 117);
.calendar {
  background: #dc7036;
  background: -moz-linear-gradient(-45deg, #dc7036 50%, #c45b2d 50%);
  background: -webkit-linear-gradient(-45deg, #dc7036 50%, #c45b2d 50%);
  background: linear-gradient(135deg, #dc7036 50%, #c45b2d 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#dc7036",
      endColorstr="#c45b2d",
      GradientType=1
    );
  text-align: center;
  height: 100vh;
}
.calendar__header {
  width: 100%;
  background-color: #1e2b55;
  position: relative;
  text-align: center;
}
.calendar__header__text {
  padding: 20px 0;
  color: #fff;
}
.calendar__header__icon {
  padding: 10px;
  position: absolute;
  font-size: 1.5em;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.calendar__title {
  padding: 40px 0;
}
.calendar__mission__sub__dates {
  padding: 10px 0 15px 0;
  font-weight: bold;
}
.calendar__mission__sub__item {
  padding: 5px 0;
}
.calendar__mission__sub__title {
  color: $dark-gray;
  display: inline-block;
  font-weight: 300;
  width: 70px;
  margin-right: 20px;
}
