$dark-gray: rgb(117, 117, 117);
.calendar {
  text-align: center;
  height: 100vh;
}
.calendar__title {
  padding: 40px 0;
}
.calendar__mission__sub__dates {
  padding: 10px 0 15px 0;
  font-weight: bold;
}
.calendar__mission__sub__item {
  padding: 5px 0;
}
.calendar__mission__sub__title {
  color: $dark-gray;
  display: inline-block;
  font-weight: 300;
  width: 70px;
  margin-right: 20px;
}
