.ant-carousel .slick-slide {
  text-align: center;
  height: 95vh;
  line-height: 95vh;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dc7036+50,c45b2d+50 */
   background: #dc7036; /* Old browsers */
   background: -moz-linear-gradient(
     -45deg,
     #dc7036 50%,
     #c45b2d 50%
   ); /* FF3.6-15 */
   background: -webkit-linear-gradient(
     -45deg,
     #dc7036 50%,
     #c45b2d 50%
   ); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(
     135deg,
     #dc7036 50%,
     #c45b2d 50%
   ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(
       startColorstr='#dc7036',
       endColorstr='#c45b2d',
       GradientType=1
     ); /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.introBtn{
  height: 5vh;
  width: 100vw;
  border-radius: initial;
}