.ant-carousel .slick-slide {
  text-align: center;
  height: 95vh;
  overflow: hidden;
}

.IntroScreen {
  background: #dc7036;
  background: -moz-linear-gradient(
    -45deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  background: -webkit-linear-gradient(
    -45deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  background: linear-gradient(
    135deg,
    #dc7036 50%,
    #c45b2d 50%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#dc7036',
    endColorstr='#c45b2d',
    GradientType=1
  );
  &__btn {
    height: 5vh;
    width: 100vw;
    border-radius: initial;
    background-color: #1e2b55;
    color: #ffffff;
    &--login {
      height: 5vh;
      width: 100vw;
      border-radius: initial;
      background-color: #1e2b55;
      color: #ffffff;
      animation: login 0.5s;
    }
  }
  &__carousel {
    &__1 {
      background-image: url("../../assets/images/Intro/page1.jpg");
      background-size: cover;
    }
    &__2 {
      background-image: url("../../assets/images/Intro/page2.jpg");
      background-size: cover;
    }
    &__3 {
      background-image: url("../../assets/images/Intro/page3.jpg");
      background-size: cover;
    }
    &__4 {
      background-image: url("../../assets/images/Intro/page4.jpg");
      background-size: cover;
    }
    &__text {
      background-color: #c45b2d;
      color: #ffffff;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
    }
  }
}

@keyframes login {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
